<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	<sql id="searchCondition">
		<choose>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="category != null">
				WHERE category LIKE '%'||#{category}||'%'
			</when>
		</choose>
	</sql>
	
	
	<select id="getList" parameterType="movieDto" resultType="movieDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, title,score, price, imagePath, regdate
				FROM board_movie
				<include refid="searchCondition"/>
				ORDER BY num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_movie
		<include refid="searchCondition"/>
	</select>
	<insert id="insert" parameterType="movieDto">
		INSERT INTO board_movie
		(num ,title, writer, price,buyNum, category,score,releaseDate,content, imagePath, regdate)
		VALUES(board_movie_seq.NEXTVAL,#{title}, #{writer}, #{price},0,#{category},0,#{releaseDate},#{content}, #{imagePath}, SYSDATE)
	</insert>
	<select id="getData" parameterType="int" resultType="movieDto">
		SELECT *
		FROM
			(SELECT num ,title, writer, price,buyNum, category,score,releaseDate,content, imagePath, regdate, 
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum
			FROM board_movie
			ORDER BY num DESC)
		WHERE num = #{num}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_movie
		WHERE num=#{num}
	</delete>
	
	<update id="update" parameterType="movieDto">
		UPDATE board_movie
		SET title=#{title}, category=#{category}, content=#{content}, price=#{price}, releaseDate=#{releaseDate}
		WHERE num=#{num}
	</update>
	
	<update id="buyNumCount" parameterType="movieDto">
		UPDATE board_movie
		SET buyNum=buyNum +1
		WHERE num=#{num}
	</update>
</mapper>